<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>API: $modulename #if $classname# $classname #end if# #if $filename# $filename #end if# (YUI Library)</title>
	<link rel="stylesheet" type="text/css" href="assets/api.css">
</head>

<body id="yahoo-com">
<div id="doc3" class="yui-t2">

	<div id="hd">
        <h1>$projectname</h1>
        <h3>$moduletitle&nbsp; <span class="subtitle">$version</span></h3>
        <p>
        <a href="./index.html">$projectname</a> 
        #if $modulename
            &gt; <a href="./${cleansedmodulename}.html">$modulename</a>
                #if $classname# &gt; $classname #end if#
                #if $filename# &gt; $filename (source view) #end if#
            </p>
        #end if
	</div>

	<div id="bd">
		<div id="yui-main">
			<div class="yui-b">
                #if $index

                    <div class="summary description">
                      This is the API documentation for the 
                      <a href="http://developer.yahoo.com/yui/">Yahoo! User Interface Library</a>
                    </div>
                    <form onsubmit="return false">
                        <div id="propertysearch">
                            <input autocomplete="off" id="searchinput" />
                            <div id="searchresults">
                                &nbsp;
                            </div>
                        </div>
                    </form>

                    <script type="text/javascript">
                        ALL_YUI_PROPS = $allprops;
                    </script>
                    <script type="text/javascript" src="assets/api-js"></script>

                #end if

                #if $filename
                    <div id="srcout">
                        #include raw $filepath_highlighted
                    </div>
                #else if $classname 

                    <h2>
                        #if $access#<code>$access</code>#end if#

                        #if $static#<code>$static</code>#end if#
                        #if $final#<code>$final</code>#end if#
                            Class <b>$classname</b>
                        <span class="extends">
                        #if $extends
                           - extends <a href="${extends}.html">$extends</a>
                        #end if
                        </span>

                        <span class="extends">
                        #if $uses
                          - uses 
                            #set $i=0
                            #for $provider in $uses##if $i > 0#, #end if#
                                <a href="${provider}.html">$provider</a>#set $i=$i+1##end for#
                            
                        #end if
                        </span>
                        
                        </code>
                    </h2>
                    <!-- class tree goes here -->
                    
                    #if $subclasses
                        <dl class="subclasses">
                            <dt>Known Subclasses:</dd>
                            <dd>
                                #for $subclass in $subclasses
                                    <a href="${subclass}.html">$subclass</a>
                                #end for
                            </dd>
                       </dl>
                    #end if
                
                    #if $deprecated
                        <div class="deprecated"><strong>Deprecated:</strong>$deprecated</div>
                    #end if
  
                    #if $see
                        <div class="deprecated"><strong>See also:</strong>$see</div>
                    #end if

                    <div class="summary description">
                        $description
                    </div>

                    #if $constructor
                        <div class="section constructor details">
                        <h3><a name="constructor_detail">Constructor</a></h3>
                        <div class="content">
                            <div class="detail">
                                <strong>$classname</strong>
                                <code>
                                    (
                                    #if $constructor.params
                                        #set $i=0
                                        #set $current=""
  
                                        #for $param in $constructor.params#
                                            #if $current != $param.name
                                                #if $i > 0#, #end if#
                                                #set $i = $i + 1
                                                #set $current = $param.name
                                                $param.name
                                            #end if
                                        #end for
                                    #end if
                                    )
                                </code>
                                <div class="description">
                                    #if $constructor.params
                                        <dl>
                                            <dt>Parameters:</dt>
                                            #for $param in $constructor.params
                                                <dd>
                                                    <code>$param.name
                                                    &lt;$param.type&gt; 
                                                    </code>
                                                    $param.description
                                                </dd>
                                            #end for
                                        </dl>
                                    #end if
                                    
                                    #if $constructor.return
                                        <dl>
                                            <dt>Returns:</dt>
                                            <dd>
                                                $constructor.return
                                            </dd>
                                        </dl>
                                    #end if 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    #end if

                    #if $properties
                        <div class="section field details">
                            <h3><a name="field_detail">Properties</a></h3>
                            <div class="content">
                                #for $property in $properties
                                    <h4><a name="$property.name">$property.name</a>
                                        <code>- #if $property.access#$property.access #end if##if $property.static#$property.static #end if##if $property.final#$property.final #end if#$property.type</code>
                                    </h4>
                                    <div class="detail">
                                        <div class="description">
                                            $property.description
                                        </div>
                                    </div>
     
                                        
                                    #if $property.default
                                    <div class="default">
                                        Default Value: $property.default
                                    </div>        
                                    #end if

                                     #if $property.deprecated
                                    <div class="deprecated">
                                        <strong>Deprecated: </strong>$property.deprecated
                                    </div>        
                                    #end if

                                    <hr />
                                #end for


                            </div>
                        </div>
                    #end if

                    #if $inherited.properties
                        #for $superclassname in $inherited.properties
                        <div class="section field inheritance">
                            <h4>Properties inherited from <a href="${superclassname}.html">$superclassname</a>:</h4>
                            <div class="content">
                                <code>
                                    #set i=0
                                    #for $prop in $inherited.properties[$superclassname]##if i>0#,#end if#
                                        #set i=i+1
                                        <a href="${superclassname}.html#$prop">$prop</a>#end for
                                </code>
                            </div>
                        </div>
                        #end for
                    #end if

                    #if $methods
                        <div class="section method details">
                            <h3><a name="methodDetails">Methods</a></h3>
                            <div class="content">
                                #for $method in $methods
                                    <h4>
                                        <a name="$method.name">$method.name</a></h4>
                                    <div class="detail">
                                        <code>
                                        #if $method.access# $method.access #end if#
                                        #if $method.static# $method.static #end if#
                                        #if $method.final# $method.final #end if#
                                        $method.return.type
                                            <strong>$method.name</strong>
                                           (
                                            #if $method.params
                                                #set $i=0
                                                #set $current = ""
                                                #for $param in $method.params#
                                                    #if $current != $param.name
                                                        #if $i > 0#, #end if#
                                                        #set $i = $i + 1
                                                        #set $current = $param.name
                                                         $param.name
                                                    #end if#
                                                #end for#
                                            #end if
                                            )
                                        </code>
                                        
                                        <div class="description">
                                            $method.description
                                        </div>

                                        <div class="description">

                                            #if $method.params
                                                <dl>
                                                    <dt>Parameters:</dt>
                                                    #for $param in $method.params
                                                        <dd>
                                                            <code>$param.name &lt;$param.type&gt;</code>
                                                            $param.description
                                                        </dd>
                                                    #end for
                                                </dl>
                                            #end if

                                            #if $method.return.type
                                                <dl>
                                                    <dt>Returns:
                                                    <code>
                                                        $method.return.type
                                                    </code></dt>
                                                    <dd>$method.return.description</dd>
                                                </dl>
                                            #end if
             
                                            #if $method.deprecated
                                            <div class="deprecated">
                                                <strong>Deprecated</strong> $method.deprecated
                                            </div>        
                                            #end if
                                        </div>

                                    </div>
                                    <hr />
                                #end for
                            </div>
                        </div>
                    #end if

                    #if $inherited.methods
                        #for $superclassname in $inherited.methods
                            <div class="section field inheritance">
                                <h4>Methods inherited from <a href="${superclassname}.html">$superclassname</a>:</h4>
                                <div class="content">
                                    <code>
                                        #set i=0
                                        #for $method in $inherited.methods[$superclassname]##if i>0#,#end if#
                                            #set i=i+1
                                            <a href="${superclassname}.html#$method">$method</a>#end for
                                    </code>
                                </div>
                            </div>
                        #end for
                    #end if

                    #if $events
                        <div class="section method details">
                            <h3><a name="methodDetails">Events</a></h3>
                            <div class="content">
                                #for $event in $events
                                    <h4>
                                        <a name="$event.name">$event.name</a></h4>
                                    <div class="detail">
                                        <code>
                                        #if $event.access# $event.access #end if#
                                        #if $event.static# $event.static #end if#
                                        #if $event.final# $event.final #end if#
                                            <strong>$event.name</strong>

                                            (
                                            #if $event.params
                                                #set $i=0
                                                #set $current = ""
                                                #for $param in $event.params#
                                                    #if $current != $param.name
                                                        #if $i > 0#, #end if#
                                                        #set $i = $i + 1
                                                        #set $current = $param.name
                                                         $param.name
                                                    #end if#
                                                #end for#
                                            #end if
                                            )

                                        </code>
                                        
                                        <div class="description">
                                            $event.description
                                        </div>

                                        <div class="description">


                                            #if $event.params
                                                <dl>
                                                    <dt>Parameters:</dt>
                                                    #for $param in $event.params
                                                        <dd>
                                                            <code>$param.name &lt;$param.type&gt;</code>
                                                            $param.description
                                                        </dd>
                                                    #end for
                                                </dl>
                                            #end if


                                            #if $event.deprecated
                                            <div class="deprecated">
                                                <strong>Deprecated</strong> $event.deprecated
                                            </div>        
                                            #end if
                                        </div>

                                    </div>
                                    <hr />
                                #end for
                            </div>
                        </div>
                    #end if


                    #if $inherited.events
                        #for $superclassname in $inherited.events
                        <div class="section field inheritance">
                            <h4>Events inherited from <a href="${superclassname}.html">$superclassname</a>:</h4>
                            <div class="content">
                                <code>
                                    #set i=0
                                    #for $event in $inherited.events[$superclassname]##if i>0#,#end if#
                                        #set i=i+1
                                        <a href="${superclassname}.html#$event">$event</a>#end for
                                </code>
                            </div>
                        </div>
                        #end for
                    #end if

                    #if $configs
                        <div class="section field details">
                            <h3><a name="field_detail">Configuration Attributes</a></h3>
                            <div class="content">
                                #for $config in $configs
                                    <h4><a name="$config.name">$config.name</a>
                                        <code>- #if $config.access#$config.access #end if##if $config.static#$config.static #end if##if $config.final#$config.final #end if#$config.type</code>
                                    </h4>
                                    <div class="detail">
                                        <div class="description">
                                            $config.description
                                        </div>
                                    </div>
 
                                    #if $config.deprecated
                                    <div class="deprecated">
                                        <strong>Deprecated</strong>$config.deprecated
                                    </div>        
                                    #end if
     
                                    #if $config.default
                                    <div class="default">
                                        Default Value: $config.default
                                    </div>        
                                    #end if

                                    <hr />
                                #end for

                            </div>
                        </div>
                    #end if

                    #if $inherited.configs
                        #for $superclassname in $inherited.configs
                        <div class="section field inheritance">
                            <h4>Configuration attributes inherited from <a href="${superclassname}.html">$superclassname</a>:</h4>
                            <div class="content">
                                <code>
                                    #set i=0
                                    #for $config in $inherited.configs[$superclassname]##if i>0#,#end if#
                                        #set i=i+1
                                        <a href="${superclassname}.html#$config">$config</a>#end for
                                </code>
                            </div>
                        </div>
                        #end for
                    #end if


                #else if $modulename
                    <h3>Module: $modulename</h3>
                    <div class="description summary">
                        $moduledesc
                    </div>
                    #if $requires
                    <div class="content">
                        Requires: $requires
                    </div>
                    #end if
                    #if $optional
                    <div class="content">
                        Optional: $optional
                    </div>
                    #end if

                    #if $beta
                    <div class="description"><em>Beta</em></div>
                    #end if

                    #if $experimental
                    <div class="description"><em>Experimental</em></div>
                    #end if

                #end if
			</div>
		</div>
		<div class="yui-b">
            <div class="nav">

                #if $modulenames
                    <div class="module">
                        <h4>Modules</h4>
                        <ul class="content">
                            #for $moduledef in $modulenames
                                #set $css = ""
                                #if $moduledef == $modulename
                                    #set $css = "selected"
                                #end if

                                <li class="$css"><a href="module_${moduledef}.html">$moduledef</a></li>
                            #end for
                        </ul>
                    </div>
                #end if

                #if $classnames
                    <div class="module">
                        <h4>Classes</h4>
                        <ul class="content">
                            #for $classdef in $classnames
                                #set $css = ""
                                #if $classdef == $classname
                                    #set $css = "selected"
                                #end if
                                <li class="$css"><a href="${classdef}.html">$classdef</a></li>
                            #end for
                        </ul>
                    </div>
                #end if

                #if $filenames
                    <div class="module">
                        <h4>Files</h4>
                        <ul class="content">        
                            #for $filedef in $filenames
                                #set $css = ""
                                #if $filedef == $filename
                                    #set $css = "selected"
                                #end if
                                <li class="$css"><a href="${filedef}.html">$filedef</a></li>
                            #end for
                        </ul>
                    </div>
                #end if

                #if $properties
                    <div class="module">
                        <h4>Properties</h4>
                        <ul class="content">        
                            #for $prop in $properties
                                <li><a href="#${prop.name}">$prop.name</a>
                                        <!--<code>&lt;$property.type&gt;</code>-->
                                </li>
                            #end for
                        </ul>
                    </div>
                #end if

                #if $methods
                    <div class="module">
                        <h4>Methods</h4>
                        <ul class="content">        
                            #for $method in $methods
                                <li><!--<code>$method.return.type</code>-->
                                <a href="#${method.name}">$method.name</a>
                                </li>
                            #end for
                        </ul>
                    </div>
                #end if

                #if $events
                    <div class="module">
                        <h4>Events</h4>
                        <ul class="content">        
                            #for $event in $events
                                <li>
                                <a href="#${event.name}">$event.name</a>
                                </li>
                            #end for
                        </ul>
                    </div>
                #end if

                #if $configs
                    <div class="module">
                        <h4>Configuration Attributes</h4>
                        <ul class="content">        
                            #for $config in $configs
                                <li>
                                <a href="#${config.name}">$config.name</a>
                                </li>
                            #end for
                        </ul>
                    </div>
                #end if

            </div>
		</div>
	</div>
	<div id="ft">
        <hr />
        Copyright &copy; 2007 Yahoo! Inc. All rights reserved.
	</div>
</div>
</body>
</html>
