<p>
In server mode, YUIDoc will parse your docs and show them to you in real time. No need to generate your docs each time
you update a comment block. In this mode, it's totally dynamic. After launching the server, you can
open, edit and save your docs, then simply reload the page to view the rendered output.
</p>

```terminal
    yuidoc --server
        or
    yuidoc --server 5000
```

Then visit:

```terminal
    http://127.0.0.1:3000/
        or
    http://127.0.0.1:5000/
```

<p>
It's that simple!
</p>
