
<p>Command line arguments are parsed after those in your `yuidoc.json` file. If a `yuidoc.json` file
is found, those arguments will be loaded as the default, then command line arguments will be added as
override arguments. See the <a href="../use/index.html">Using YUIDoc</a> example for more information.</p>

```terminal
{{>help}}
```
