<div class="props item">
    `{{name}}` &lt;<strong>`{{type}}`</strong>&gt;{{#if final}} <em>(final)</em>{{/if}}<br>
    <span class="foundat"><a href="../{{foundAt}}">`{{file}}:{{line}}`</a></span>
    {{{propertyDescription}}}
</div>
