<h2 id="json">YUIDoc Configuration</h2>

<p>
YUIDoc supports two ways to configure its output: 
<a href="../args/index.html">command line arguments</a> and the `yuidoc.json` file.
</p>

<h3>JSON Configuration</h3>

<p>
This sample `yuidoc.json` file is used in the <a href="http://yuilibrary.com/">YUI 3</a>
project:
</p>

```
{
    "name": "YUI 3",
    "description": "YUI 3 JavaScript Framework",
    "version": "3.5.0",
    "url": "http://yuilibrary.com/",
    "options": {
        "linkNatives": "true",        
        "attributesEmit": "true",
        "selleck": "true",
        "ignorePaths": [ "simpleyui" ],
        "paths": "*/js",
        "outdir": "../api-js"
    }
}
```

<p>This sample `yuidoc.json` file is used in the YUIDoc project itself:</p>

```
{
  "name": "YUIDoc",
  "description": "YUIDoc documentation tool written in Javascript",
  "version": "0.2.38",
  "url": "http://yuilibrary.com/projects/yuidoc",
  "logo": "http://yuilibrary.com/img/yui-logo.png",
  "options": {
    "external": {
      "data": "http://yuilibrary.com/yui/docs/api/data.json"
    },
    "linkNatives": "true",
    "attributesEmit": "true",
    "paths": [
      "./lib"
    ],
    "outdir": "./output/api"
  }
}
```

<p>
The `yuidoc.json` file needs to live in a directory somewhere under where you will be executing
`yuidoc`. YUIDoc will scan the tree for this file before doing anything else.
</p>

<h3>JSON Options</h3>

<p>Project Information</p>

<table>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
<tr>
    <td>`name`</th>
    <td>A short name for the project.</td>
</tr>
<tr>
    <td>`description`</th>
    <td>A one or two sentence description of the project.</td>
</tr>
<tr>
    <td>`version`</th>
    <td>The project's current version, as some kind of meaningful string.</td>
</tr>
<tr>
    <td>`url`</th>
    <td>The project's primary URL. This does not necessarily have to be the URL of the generated API documentation.</td>
</tr>
<tr>
    <td>`logo`</th>
    <td>
        The logo to add to the header of all generated HTML documentation. 
        If you do not provide a header, YUIDoc will use the YUI logo by default.
    </td>
</tr>
</table>

<p>
    Below are a few of the options available.
</p>

<table>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
<tr>
    <td>`linkNatives`</th>
    <td>Selects whether to autolink native types such as `String` and `Object` over to the Mozilla Developer Network. </td>
</tr>
<tr>
    <td>`attributesEmit`</th>
    <td>
        Selects whether YUIDoc should autogenerate documentation for change events 
        generated by the <a href="http://yuilibrary.com/yui/docs/api/classes/Attribute.html">YUI Attribute API</a>.
        When a YUI attribute `foo` changes its value, 
        YUI automatically fires a custom event named `fooChange`.
        Setting `attributesEmit` to `true` instructs YUIDoc to
        automatically generate documentation for each of these events.
        You can set this value to `false` if you think that your audience
        is well aware of change events and would not benefit from this extra verbiage.
    </td>
</tr>
<tr>
    <td>`selleck`</th>
    <td>
        Selects whether to add <a href="http://rgrove.github.com/selleck/">Selleck</a> metadata. 
        If `true`, YUIDoc searches for a `component.json` file above the source tree and 
        attaches that data to the module data as extra information.
    </td>
</tr>
<tr>
    <td>`ignorePaths`</th>
    <td>Specifies an array of string paths to ignore when scanning the source tree.</td>
</tr>
<tr>
    <td>`paths`</th>
    <td>
        Specifies a single string `glob` or array of globs 
        to use when searching the source tree for docs to parse.
    </td>
</tr>
<tr>
    <td>`outdir`</th>
    <td>Specifies the directory in which to place the rendered HTML files and assets.</td>
</tr>
<tr>
    <td>`external.data`</th>
    <td>
        Provides a link to an external `data.json` file to merge into the local api docs. 
        <a href="../external/index.html">See the external data example for more info</a>.
    </td>
</tr>
</table>
